@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders' as p;
@use 'sass:color';

.about {
    padding: 100px 0 100px 0;
@media (max-width:p.$media_min) {
        padding: 10px 0 100px 0;
    }
    &__content {
        text-align: center;
        margin: 0 0 80px 0;

        &-title {
            @include m.font(60px, 400, v.$color__whote);

            @media (max-width:p.$media_min) {
                @include m.font(40px, 400, v.$color__whote);
            }
        }

    }

    &__cards {
       
        max-width: 950px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 65px;
        justify-items: center;
        align-items: center;
        grid-template-areas:
            "anylasis design development"
            "maintenance testing integration"
        ;

        .anlysis {
          
            grid-template-areas: anylasis;
            justify-self: start;
        }

        .design {
            grid-template-areas: design;
            justify-self: center;
        }

        .development {
            grid-template-areas: development;
            justify-self: end;
        }

        .maintenance {
            grid-template-areas: maintenance;
            justify-self: start;
        }

        .testing {
            grid-template-areas: testing;
            justify-self: center;
        }

        .integration {
            grid-template-areas: integration;
            justify-self: end;
        }

        &-wrapper {
            &:hover {
                    scale: 1.1;
                    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .20);
                    cursor: pointer;
                    color: v.$color__whote;
                    fill: v.$color__whote;
                }
            padding: 0 10px;
            background: color.adjust(v.$color__whote, $alpha: -0.85);
            width: 180px;
            height: 205px;
            border-radius: 20px;
            text-align: center;
            @include m.d-flex (center, center, nowrap, column, 0, 10px);

            .cards__wrapper-icon {
                width: 55px;
                height: 53px;
            }

            @media (max-width:p.$media_min) {
                width: 140px;
                height: 152px;
                @include m.font(11px, 300, v.$color__black);
            }
        }

        @media (max-width:p.$media_md) {
            max-width: 950px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            row-gap: 35px;
            justify-items: center;
            align-items: center;
            grid-template-areas:
                "development  anylasis "
                "design maintenance "
                "testing  integration"
            ;

            .anlysis {
                grid-template-areas: anylasis;
                justify-self: center;
            }

            .design {
                grid-template-areas: design;
                justify-self: center;
            }

            .development {
                grid-template-areas: development;
                justify-self: center;
            }

            .maintenance {
                grid-template-areas: maintenance;
                justify-self: center;
            }

            .testing {
                grid-template-areas: testing;
                justify-self: center;
            }

            .integration {
                grid-template-areas: integration;
                justify-self: center;
            }
        }


    }
}