@use 'variables' as v;
@use 'placeholders' as p;
@use 'mixins' as m;
@use 'sass:color';

.experience {
    margin: 150px 0 0;

    &__content {
        &-title {
            margin: 0 0 100px 0;
            text-align: center;
            @include m.font(60px, 400, v.$color__whote);
        }
    }

    &__cards {
          padding: 0 0 100px 0;
        @include m.d-flex(space-around, center, wrap, row, 20px, 20px);

        &-card {
            position: relative;
            width: 325px;
            height: 296px;
            background-color: color.adjust(v.$color__whote, $alpha: -0.85);
            @include m.d-flex(space-between, center, nowrap, column, 0, 0);
            border-radius: 10px;
            overflow: hidden;
          
            .title2 {
                padding: 15px 0 0 0;
                text-align: center;
                @include m.font(23px, 400, v.$color__whote);
            }
            .cards-card__title {
                padding:25px 0 0 0;
                @include m.font(23px, 400, v.$color__whote);
                
            }

            .cards-card__img {

                width: 325px;
                height: 215px;
            }

            .cards-card__button {
                @include m.position(absolute, 1, -1, bottom, left, -20px, -30px);
                width: 120px;
                height: 90px;
                border: none;
                border-radius: 20px;
                rotate: 7deg;
                transition: rotate .2s;
                &:hover {
                    cursor: pointer;
                    rotate: 7deg;
                    scale: 1.3;
                }
        
                .cards-card__icon {
                    width: 36px;
                    height: 23px;
                    fill: v.$color__black;
                    rotate: -7deg;
                    translate: 12px -3px;
                }
            }
        }
    }

}