@use 'variables' as v;

%hover-black {
    color: v.$color__black;
    cursor: pointer;
}

%hover-black-icon {
    stroke: v.$color__black;
    cursor: pointer;
}

$media_xxl:1400px;
$media_xl:1200px;
$media_lg:992px;
$media_md:778px;
$media_sm:576px;
$media_min:428px;