@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders' as p;
@use 'sass:color';

.testimonials {
 @include m.font();
    &__title {

        @include m.font(60px, 400, v.$color__whote);

    }

    &__comment {
       
        background: url(/assets/Images/Rectangle\ 9.png) center/contain no-repeat;
        width: 500px;
        height: 275px;

        &-quote {
            max-width: 400px;
            height: 105px;
        }

        .slider__left-button {

            width: 95px;
            height: 95px;
        }

        .slider__right-button {
            width: 95px;
            height: 95px;
        }
    }
}