@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders' as p;
@use 'sass:color';

.work {
    padding: 100px 0 0 0;

    &__quality {

        background: url(/assets/Images/image9.png) 100% 100%/contain no-repeat;
        @include m.d-flex(start, start, nowrap, column, 0, 40px);
        height: 400px;

        &-title {
            @include m.font (45px, 500, v.$color__whote);
        }

        &-desc {
            @include m.font (20px, 300, v.$color__whote);
            max-width: 590px;
            height: 90px;
        }

        @media (max-width:p.$media_xl) {
            background: linear-gradient(1deg, rgba(103, 143, 242, 0) 0%, rgba(103, 143, 242, 0.74) 74%),
                url(/assets/Images/image9.png) 100% 100%/contain no-repeat;
        }

        @media (max-width:p.$media_lg) {
            &-title {
                @include m.font (35px, 500, v.$color__whote);
            }

            &-desc {
                @include m.font (16px, 300, v.$color__whote);
                max-width: 320px;
                height: 90px;
            }

            background: linear-gradient(1deg, rgba(103, 143, 242, 0) 0%, rgba(103, 143, 242, 0.74) 74%),
            url(/assets/Images/image9.png) 100% 100%/400px no-repeat;
        }

        @media (max-width:p.$media_min) {
            @include m.d-flex(start, center, nowrap, column, 0, 40px);
            background: linear-gradient(1deg, rgba(103, 143, 242, 0) 0%, rgba(103, 143, 242, 0.74) 74%),
                url(/assets/Images/image9.png) 144px 100%/400px no-repeat;
        }
    }

    &__touch {
        position: relative;
        width: 100%;
        padding: 100px 15px 0 15px;
        text-align: right;
        height: 500px;
        @include m.d-flex(end, end, nowrap, column, 0, 40px);

        &::before {
            rotate: 15deg;
            content: "";
            @include m.position(absolute, -1, -1, top, left, 0, -300px);
            width: 100%;
            height: 100%;
            background: url(/assets/Images/телефон.png) 0 0/contain no-repeat;
        }

        &-title {
            @include m.font (45px, 500, v.$color__whote);
        }

        &-desc {

            @include m.font (20px, 300, v.$color__whote);
            max-width: 590px;
            height: 90px;
        }

        @media (max-width:p.$media_xl) {
            @include m.d-flex(center, end, nowrap, column, 0, 40px);

            &::before {
                rotate: 30deg;

                @include m.position(absolute, -1, -1, top, left, 0, -400px);

            }
        }

        @media (max-width:p.$media_lg) {
            &::before {
                rotate: 30deg;

                @include m.position(absolute, -1, -1, top, left, -50px, -400px);

            }
        }

        @media (max-width:p.$media_md) {
            @include m.d-flex(start, end, nowrap, column, 0, 40px);

            &-title {
                @include m.font (35px, 500, v.$color__whote);
            }

            &-desc {

                @include m.font (16px, 300, v.$color__whote);
                max-width: 350px;
                height: 90px;
            }

            &::before {
                rotate: 54deg;
                content: "";
                @include m.position(absolute, -1, -1, top, left, 40px, -350px);
                width: 100%;
                height: 100%;
                background: url(/assets/Images/телефон.png) 0 0/90% no-repeat;
            }
        }

        @media (max-width:p.$media_sm) {
            &-desc {

                @include m.font (16px, 300, v.$color__whote);
                max-width: 300px;
                height: 90px;
            }

            &::before {
                rotate: 65deg;
                content: "";
                @include m.position(absolute, -1, -1, top, left, 90px, -260px);
                width: 100%;
                height: 100%;
                background: url(/assets/Images/телефон.png) 0 0/100% no-repeat;
            }

        }

        @media (max-width:p.$media_min) {
            &::before {
                rotate: 65deg;
                content: "";
                @include m.position(absolute, -1, -1, top, left, 20px, -300px);
                width: 100%;
                height: 100%;
                background: url(/assets/Images/телефон.png) 0 0/100% no-repeat;
            }
        }
    }

    &__approach {
        padding: 100px 0 0 0;
        background: url(/assets/Images/кактусзеленый.png) 100% 100%/400px no-repeat;
        height: 850px;

        @include m.d-flex(center, start, nowrap, column, 0, 20px);

        &-title {
            @include m.font(45px, 400, v.$color__whote);
        }

        &-desc {
            @include m.font(20px, 300, v.$color__whote);
            max-width: 730px;
            height: 60px;
        }

        @media (max-width:p.$media_lg) {
            height: 750px;
        }

        @media (max-width:p.$media_md) {
            background: url(/assets/Images/кактусзеленый.png) 100% 100%/350px no-repeat;
            @include m.d-flex(start, start, nowrap, column, 0, 20px);
            &-title {
                    @include m.font(35px, 400, v.$color__whote);
                }
            
                &-desc {
                    max-width: 400px;
                    @include m.font(16px, 300, v.$color__whote);
                    height: 60px;
                }
        }
        @media (max-width:p.$media_min) {
                height: 650px;
            background: url(/assets/Images/кактусзеленый.png) 100% 100%/250px no-repeat;
            &-desc {
                    max-width: 300px;
                    @include m.font(16px, 300, v.$color__whote);
                    height: 60px;
                }
        }

    }
}